// *
* {
  font-family: 'Lato', sans-serif;
}

body {
  color: $gray_900;
}


// layout

.layout--boxed {
  width: $layout_width;
  margin: 0 auto;
}

.d-flex {
  display: flex;
}

.justify--center {
  justify-content: center;
}

.align--items-center {
  align-items: center;
}

.list--inline {
  display: flex;
  list-style: none;
}

.round-button--small {
  width: 30px;
  height: 30px;
  margin: 0 5px;
  border-radius: 50%;
}


// items

i {
  padding: 0 6px;
}
