.button {
  margin-right: 1rem;
  padding: 0.5rem;

  transition: background-color 400ms;
  text-decoration: none;

  color: $gray_900;
  border: 0.15rem solid #c4c4c4;
  border-radius: 0.4rem;

  font-size: 0.8rem;
  i {
    padding-left: 0;

    color: $gray_900;
  }
  &:hover {
    color: #fff;
    background-color: #c4c4c4;
    i {
      color: #fff;
    }
  }
  &.edit {
    &:hover {
      border-color: #ffc107;
      background-color: #ffc107;
    }
  }
  &.confirm {
    &:hover {
      border-color: #4ea901;
      background-color: #4ea901;
    }
  }
}
