.contact {
  width: 96%;

  color: #fff;
  border-top-right-radius: 80px;
  background-color: $blue_500;

  @media screen and (max-width:800px) {
    margin-bottom: $header_height;
  }

  &__title {
    padding-top: 2rem;

    text-align: center;
  }
  &__caption {
    text-align: center;
  }

  &__links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    padding: 1rem 0;

    list-style: none;
    @media screen and (max-width:850px) {
      flex-direction: column;

      padding-left: 10%;
    }
  }
  &__element {
    display: flex;
    align-items: center;

    margin: 1.5rem 0.5rem;
  }
  &__logo {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 50px;
    height: 50px;
    margin-right: 1rem;

    border-radius: 50%;
    background-color: $blue_850;

    font-size: 1.7rem;
  }
  &__span {
    text-decoration: underline;

    font-weight: 300;
  }
}

.contact-form {
  width: 80%;
  margin-left: auto;

  border-top-left-radius: 80px;
  background-color: $blue_850;
  @media screen and (max-width: 850px) {
    width: 95%;
  }

  &__form {
    width: 65%;
    margin-left: 7%;
    padding: 3rem 1rem;

    @media screen and (max-width: 850px) {
      width: 85%;
    }

    > div {
      display: flex;
      @media screen and (max-width: 1100px) {
        display: block;
      }
    }

    input,
    textarea {
      width: 100%;
      margin: 0.5rem 0.25rem;
      padding: 0.5rem 0.8rem;

      resize: none;

      color: $gray_900;
      border: 0.2rem solid $blue_550;
      border-radius: 10px;
      outline: none;

      font-size: 1.2rem;
      &:focus {
        color: $blue_850;
      }
    }
  }
  &__button {
    margin: 0.5rem 0.25rem;
  }
}
