.menu {
  width: 100%;
  position: fixed;
  background-color: $white_600;
  top: 0;
  left: 0;

  @media screen and (max-width:800px) {
    top: auto;
    bottom: 0;
  }

  + * {
    margin-top: $header_height * 1.5;
    @media screen and (max-width:800px) {
      margin-top: 2rem;
    }
  }

  &__list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    height: $header_height;
  }

  &__item {
    list-style: none;
  }

  &__link {
    padding: 8px 15px;
    color: $blue_850;
    text-decoration: none;
    font-weight: 500;

    &:hover {
      color: #fff;
      background-color: $blue_500;
      border-radius: 12px;
    }
  }

}