.menu {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;

  background-color: $white_600;

  @media screen and (max-width:800px) {
    top: auto;
    bottom: 0;
  }

  + * {
    margin-top: $header_height * 1.5;
    @media screen and (max-width:800px) {
      margin-top: 2rem;
    }
  }

  &__list {
    display: flex;
    align-items: center;
    justify-content: center;

    height: $header_height;

    gap: 30px;
  }

  &__item {
    list-style: none;
  }

  &__link {
    padding: 8px 15px;

    text-decoration: none;

    color: $blue_850;

    font-weight: 500;

    &:hover {
      color: #fff;
      border-radius: 12px;
      background-color: $blue_500;
    }
  }

}
