#home {
  background-color: #fff;
}

#about {
  background-color: $blue_550;
}

#projects {
  background-color: $white_600;
}

#skills {
  background-color: #fff;
}

#contacts {
  background-color: $blue_500;
}

#contact-form {
  background-color: $blue_850;
}

#bottom_watermark {
  background-color: $white_600;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  font-size: 14px;
}