// ui-colors

$blue_850: #2766B9;    // Denim
$blue_550: #0096E0;    // Tufts Blue
$blue_500: #3399FF;    // Dodger Blue
$blue_300: #00D4E4;    // Dark Torquoise
$green_700: #00D9B4;   // Caribben Green
$green_400: #8BEE86;   // Light Green
$white_600: #E6F4F1;   // Mint Cream



$header_height: 60px;
$layout_width: 70%;